.feature {
   background: white;
   padding: 1.5rem;
   border-radius: 1rem;
   box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

   transition: box-shadow 0.2s ease-in-out;
   margin-bottom: 30px;
 }
 
 .feature:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px, rgba(0, 0, 0, 0.05) 0px 1px 4px;
  background-color: #fdfdfd;

 }
 
 .feature img {
   width: 2rem;
   height: 2rem;
   margin-bottom: 1rem;
   fill: var(--secondary-color); 
 }
 
 .feature-title {
   font-size: 1.25rem;
   font-weight: 600;
   margin-bottom: 0.5rem;
 }
 
 .feature-description {
   color: #4b5563; /* gray-600 */
   margin-bottom: 1rem;
 }
 
 .labels-container {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap; /* добавляем перенос */
}

.label-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}