<html lang="en">

<head>
    <script type="importmap">
        {
            "imports":{
               "@solenopsys/converged-reactive":"/libraries/solenopsys/converged-reactive/index.js",
               "@solenopsys/converged-renderer":"/libraries/solenopsys/converged-renderer/index.js",
               "@solenopsys/converged-renderer/jsx-dev-runtime":"/libraries/solenopsys/converged-renderer/index.js",
               "@solenopsys/converged-router":"/libraries/solenopsys/converged-router/index.js",
               "@solenopsys/converged-style":"/libraries/solenopsys/converged-style/index.js"
            }
         }
        </script>
</head>

<body style="margin: 0;padding: 0" id="main">

   
</body>
<script type="module"  src="main.js"></script>

</html>