
:root {
   --primary-color: rgb(0, 190, 193 );
   --secondary-color: rgb(1, 125, 128);
}
 

body {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   color: rgb(25, 25, 25);
   font-family: Open Sans, Arial, sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.6; 
   padding:0;
   margin:0;
}

.width_conteiner {
   max-width: 1000px;
   margin: 0 auto;
   width: 100%;
   padding: 0 15px; /* отступы слева и справа */
   box-sizing: border-box;
}
 

h1, h2, h3, h4, h5  {
   margin-bottom: 0;
   margin-top: 60px;
   font-family: Montserrat;
   line-height: 1.2; 
}


 



h1 {
   font-size: 2.5rem;
   margin-bottom: 24px;
}

h2 {
   font-size: 2rem;
   margin-bottom: 20px;
}

h3 {
   font-size: 1.75rem;
   margin-bottom: 16px;
}

/*

h4 {
   font-size: 24px;
   line-height: 1.4;
   margin-bottom: 16px;
}


p {
   font-size: 16px;
   line-height: 24px;
   margin-bottom: 16px;
   padding-top: 20px;
   padding-bottom: 20px;;
}

* + h1, * + h2, * + h3, * + h4, * + h5 {
   margin-top: 32px;
}

strong {
   font-weight: 600;
}

a {
   color: inherit;
   text-decoration: none;
}

::selection {
   background: rgba(33, 140, 255, 0.2);
} */





ul {
   list-style: none;
   padding-left: 0;
 }
 
 ul li {
   position: relative;
   padding-left: 32px; /* Отступ для иконки */
   padding-top:4px;
   padding-bottom:12px;
 }
 
 ul li::before {
   content: '';
   position: absolute;
   left: 0;
   top: 16px;
   transform: translateY(-50%);
   color: black;
   width: 24px;
   height: 24px;
   background-image: url('../images/keyboard-arrow-right.svg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
 }